<a href="https://colab.research.google.com/github/Candida18/ADS_SMA/blob/main/ADS/8960_Candida_Noronha_ADS_Practical_2_(Inferential_Statistics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <b>Name: Candida Noronha<br/>
### <b>Class: BE COMPS B<br/>
### <b>Roll No.: 8960
### <b>Practical 2 - Inferential Statistics

**Z-Score**

Computing z-score using defualt values

In [ ]:
import numpy as np
import scipy.stats as stats

a = np.array([0.8976,0.9989,0.5678,0.1234,0.7765,1,1.675,1.456])
stats.zscore(a)

array([-0.08660476,  0.13662837, -0.81337952, -1.79269639, -0.35347081,
        0.13905242,  1.62653867,  1.14393202])

Computing z-score along specified axis using degrees of freedom

In [ ]:
a = np.array([[0.1234,0.4567,0.7890,0.9876],
             [0.6789,0.7890,0.9987,0.6657],
             [0.2234,0.9987,0.3345,0.5567]])

stats.zscore(a,axis=1,ddof=1)

array([[-1.22576827, -0.3486311 ,  0.52587439,  1.04852498],
       [-0.67641081,  0.03847117,  1.40005837, -0.76211873],
       [-0.88942498,  1.37202025, -0.56536131,  0.08276604]])

Computing z-score using nan_policy

In [ ]:
a = np.array([[0.1234,np.nan,0.7890,0.9876],
             [0.6789,0.7890,0.9987,0.6657],
             [np.nan,0.9987,0.3345,np.nan]])

stats.zscore(a,axis=1) # default value of nan_policy is propagate, which returns nan

array([[        nan,         nan,         nan,         nan],
       [-0.78105192,  0.04442268,  1.61664815, -0.88001891],
       [        nan,         nan,         nan,         nan]])

**Z-Test**

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
from statsmodels.stats.weightstats import ztest

In [ ]:
x1 = [20, 30, 40, 50, 10, 20]
z = ztest(x1,value= 25) # where value is a mean value
z
# The first value from the above result is statistic value and the other value is pvalue. From the above output, we can understand that the pvalue of the taken data is 0.9 which is greater than the value of alpha which is 0.05. Hence we come to the output that Null Hypothesis is correct and it is accepted, which means that the given data and the assumed mean are approximately equal.

(0.5547001962252289, 0.5790997419539189)

In [ ]:
x1 = [20, 30, 40, 50, 10, 20]
x2 = [11, 12, 13, 14, 15, 16]

z=ztest(x1, x2, value= 0, alternative = 'larger')
z

(2.448717008689441, 0.007168301924196878)

From the above output, we can understand that the Null Hypothesis is rejected and Alternate Hypothesis is accepted as the pvalue is less than the alpha value

**T-Test**

**Independent t-Test**

In [ ]:
import scipy.stats as stats

a = np.array([5,6,7,8,2,3,4,5])
b = np.array([12,13,14,15,16,2,3,4])

stats.ttest_ind(a, b, equal_var=True) # Assuming that the 2 groups have equal variance

Ttest_indResult(statistic=-2.2331335038240865, pvalue=0.042379219768910015)

In [ ]:
stats.ttest_ind(a, b, equal_var=False) # Assuming that the 2 groups doesn't have equal variance

Ttest_indResult(statistic=-2.2331335038240865, pvalue=0.05369587840008499)

Understanding the result from the above test, assuming that the alpha value is 0.05, the both results assuming that the 2 groups have same variances and different variances, returns out pvalue which is less than the value of alpha. Hence the 2 bags or the 2 groups means are not supposed to be equal

Using statsmodels
statsmodels.stats.weightstats.ttest_ind(x1, x2)

where, 
    x1 and x2 are two array groups

Returns:
    tstat : float
    test statistic

    pvalue : float
    pvalue of the t-test

    df : int or float
    degrees of freedom used in the t-test

In [ ]:
from statsmodels.stats.weightstats import ttest_ind

a = np.array([12,14,16,4,5,11,12,11])
b = np.array([12,13,14,15,16,2,3,4])

ttest_ind(a,b)

(0.2963188789948769, 0.7713367820262194, 14.0)

**Paired T-test**

In [ ]:
import scipy.stats as stats

a = np.array([12, 14, 16, 4, 5, 11, 12, 11])
b = np.array([12, 13, 14, 15, 16, 2, 3, 4])

stats.ttest_rel(a,b)

Ttest_relResult(statistic=0.2635521911161371, pvalue=0.7997147761519708)

**F-Test**

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
cities = ["punjab","delhi","hyderabad","bangalore","mumbai"]

In [ ]:
people_of_spec_city = np.random.choice(a= cities, p = [0.05, 0.15 ,0.25, 0.05, 0.5], size=1000)
# np.random.choice, returns some random values from the given value a, with the probabilities mentioned in p of size given

people_of_spec_city

array(['bangalore', 'hyderabad', 'hyderabad', 'delhi', 'hyderabad',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'delhi', 'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'delhi',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'punjab', 'hyderabad',
       'bangalore', 'mumbai', 'delhi', 'mumbai', 'hyderabad', 'hyderabad',
       'hyderabad', 'mumbai', 'hyderabad', 'hyderabad', 'delhi', 'mumbai',
       'delhi', 'delhi', 'hyderabad', 'mumbai', 'bangalore', 'mumbai',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'hyderabad', 'mumbai', 'bangalore', 'bangalore',
       'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'mumbai',
       'hyderabad', 'delhi', 'mumbai', 'mumbai', 'hyderabad', 'mumbai',
       'mumbai', 'delhi', 'punjab', 'mumbai', 'hyderabad', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'hyderabad',
       'hyderabad', 'bangalore', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'mumbai',
       'delhi', 'bangalore', 'mumbai', 'bangalore', 'punjab', 'mumbai',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'delhi', 'mumbai',
       'mumbai', 'mumbai', 'hyderabad', 'hyderabad', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'delhi', 'hyderabad', 'delhi',
       'delhi', 'hyderabad', 'mumbai', 'mumbai', 'delhi', 'mumbai',
       'mumbai', 'bangalore', 'delhi', 'mumbai', 'hyderabad', 'mumbai',
       'mumbai', 'bangalore', 'mumbai', 'hyderabad', 'punjab',
       'hyderabad', 'punjab', 'hyderabad', 'mumbai', 'hyderabad', 'delhi',
       'mumbai', 'punjab', 'delhi', 'delhi', 'mumbai', 'mumbai',
       'hyderabad', 'delhi', 'mumbai', 'mumbai', 'hyderabad', 'mumbai',
       'punjab', 'punjab', 'mumbai', 'hyderabad', 'hyderabad', 'delhi',
       'hyderabad', 'delhi', 'hyderabad', 'mumbai', 'hyderabad', 'punjab',
       'mumbai', 'mumbai', 'hyderabad', 'hyderabad', 'delhi', 'hyderabad',
       'hyderabad', 'mumbai', 'hyderabad', 'delhi', 'mumbai', 'mumbai',
       'hyderabad', 'bangalore', 'mumbai', 'mumbai', 'delhi', 'punjab',
       'mumbai', 'mumbai', 'bangalore', 'hyderabad', 'mumbai', 'delhi',
       'mumbai', 'delhi', 'mumbai', 'hyderabad', 'delhi', 'mumbai',
       'hyderabad', 'bangalore', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai',
       'delhi', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'punjab', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'bangalore',
       'mumbai', 'hyderabad', 'hyderabad', 'mumbai', 'hyderabad',
       'mumbai', 'mumbai', 'mumbai', 'delhi', 'hyderabad', 'bangalore',
       'hyderabad', 'bangalore', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'mumbai', 'punjab', 'mumbai', 'hyderabad', 'mumbai',
       'mumbai', 'punjab', 'mumbai', 'hyderabad', 'delhi', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'hyderabad',
       'hyderabad', 'mumbai', 'hyderabad', 'hyderabad', 'hyderabad',
       'mumbai', 'mumbai', 'delhi', 'hyderabad', 'hyderabad', 'delhi',
       'hyderabad', 'hyderabad', 'mumbai', 'hyderabad', 'mumbai',
       'mumbai', 'hyderabad', 'bangalore', 'mumbai', 'hyderabad',
       'hyderabad', 'hyderabad', 'delhi', 'punjab', 'punjab', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai',
       'hyderabad', 'hyderabad', 'punjab', 'mumbai', 'hyderabad',
       'hyderabad', 'delhi', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'delhi', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'bangalore', 'hyderabad', 'hyderabad', 'hyderabad', 'delhi',
       'bangalore', 'delhi', 'mumbai', 'mumbai', 'delhi', 'mumbai',
       'delhi', 'delhi', 'hyderabad', 'mumbai', 'mumbai', 'delhi',
       'bangalore', 'punjab', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'hyderabad',
       'hyderabad', 'mumbai', 'hyderabad', 'hyderabad', 'delhi',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai', 'mumbai',
       'punjab', 'mumbai', 'mumbai', 'delhi', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'punjab', 'mumbai',
       'mumbai', 'bangalore', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'delhi', 'mumbai', 'delhi', 'mumbai', 'mumbai', 'mumbai',
       'bangalore', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'hyderabad', 'hyderabad', 'hyderabad',
       'hyderabad', 'hyderabad', 'mumbai', 'hyderabad', 'mumbai',
       'punjab', 'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai',
       'hyderabad', 'delhi', 'hyderabad', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'punjab', 'mumbai', 'delhi', 'hyderabad', 'mumbai',
       'delhi', 'delhi', 'mumbai', 'hyderabad', 'mumbai', 'hyderabad',
       'mumbai', 'mumbai', 'delhi', 'hyderabad', 'hyderabad', 'mumbai',
       'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'hyderabad', 'delhi', 'mumbai', 'bangalore', 'hyderabad',
       'delhi', 'delhi', 'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai',
       'punjab', 'mumbai', 'delhi', 'hyderabad', 'mumbai', 'mumbai',
       'bangalore', 'mumbai', 'delhi', 'mumbai', 'delhi', 'mumbai',
       'mumbai', 'hyderabad', 'hyderabad', 'hyderabad', 'hyderabad',
       'delhi', 'hyderabad', 'mumbai', 'mumbai', 'punjab', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'hyderabad', 'delhi',
       'mumbai', 'mumbai', 'hyderabad', 'hyderabad', 'mumbai', 'delhi',
       'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'punjab', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'delhi',
       'mumbai', 'mumbai', 'hyderabad', 'punjab', 'bangalore',
       'hyderabad', 'hyderabad', 'bangalore', 'delhi', 'mumbai', 'delhi',
       'hyderabad', 'mumbai', 'delhi', 'hyderabad', 'hyderabad', 'mumbai',
       'bangalore', 'hyderabad', 'mumbai', 'bangalore', 'mumbai',
       'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'hyderabad', 'punjab', 'delhi', 'hyderabad',
       'delhi', 'mumbai', 'hyderabad', 'delhi', 'mumbai', 'mumbai',
       'hyderabad', 'delhi', 'hyderabad', 'mumbai', 'mumbai', 'hyderabad',
       'delhi', 'hyderabad', 'mumbai', 'mumbai', 'delhi', 'hyderabad',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'hyderabad',
       'hyderabad', 'hyderabad', 'hyderabad', 'mumbai', 'mumbai', 'delhi',
       'mumbai', 'mumbai', 'punjab', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'bangalore', 'hyderabad', 'bangalore', 'hyderabad',
       'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai', 'hyderabad',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'hyderabad', 'mumbai',
       'mumbai', 'delhi', 'mumbai', 'delhi', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'hyderabad', 'delhi', 'delhi', 'mumbai', 'punjab',
       'delhi', 'hyderabad', 'mumbai', 'hyderabad', 'mumbai', 'punjab',
       'delhi', 'mumbai', 'bangalore', 'mumbai', 'bangalore', 'delhi',
       'mumbai', 'hyderabad', 'mumbai', 'delhi', 'mumbai', 'mumbai',
       'mumbai', 'hyderabad', 'bangalore', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'delhi', 'hyderabad', 'bangalore', 'punjab',
       'mumbai', 'mumbai', 'delhi', 'mumbai', 'hyderabad', 'hyderabad',
       'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'hyderabad',
       'hyderabad', 'delhi', 'mumbai', 'hyderabad', 'bangalore', 'delhi',
       'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'punjab',
       'hyderabad', 'delhi', 'hyderabad', 'mumbai', 'hyderabad',
       'hyderabad', 'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'punjab', 'delhi', 'mumbai',
       'mumbai', 'mumbai', 'hyderabad', 'hyderabad', 'mumbai',
       'hyderabad', 'mumbai', 'delhi', 'hyderabad', 'punjab', 'hyderabad',
       'bangalore', 'mumbai', 'mumbai', 'delhi', 'delhi', 'mumbai',
       'delhi', 'delhi', 'hyderabad', 'hyderabad', 'hyderabad', 'mumbai',
       'hyderabad', 'delhi', 'mumbai', 'mumbai', 'delhi', 'hyderabad',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai',
       'hyderabad', 'delhi', 'mumbai', 'mumbai', 'hyderabad', 'hyderabad',
       'delhi', 'punjab', 'hyderabad', 'hyderabad', 'delhi', 'delhi',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'delhi',
       'mumbai', 'hyderabad', 'mumbai', 'hyderabad', 'mumbai',
       'hyderabad', 'delhi', 'mumbai', 'mumbai', 'hyderabad', 'hyderabad',
       'mumbai', 'bangalore', 'hyderabad', 'hyderabad', 'mumbai', 'delhi',
       'punjab', 'hyderabad', 'hyderabad', 'mumbai', 'delhi', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'punjab', 'delhi', 'mumbai',
       'mumbai', 'delhi', 'delhi', 'mumbai', 'mumbai', 'mumbai',
       'bangalore', 'hyderabad', 'mumbai', 'punjab', 'mumbai', 'punjab',
       'mumbai', 'punjab', 'mumbai', 'mumbai', 'delhi', 'hyderabad',
       'mumbai', 'mumbai', 'bangalore', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'delhi', 'hyderabad', 'mumbai', 'hyderabad', 'delhi',
       'mumbai', 'hyderabad', 'bangalore', 'hyderabad', 'punjab',
       'mumbai', 'mumbai', 'punjab', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'delhi', 'delhi', 'bangalore', 'bangalore', 'mumbai',
       'hyderabad', 'hyderabad', 'mumbai', 'hyderabad', 'hyderabad',
       'punjab', 'mumbai', 'delhi', 'hyderabad', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'delhi', 'mumbai', 'mumbai', 'mumbai', 'delhi',
       'mumbai', 'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'delhi', 'hyderabad', 'hyderabad', 'mumbai',
       'hyderabad', 'mumbai', 'punjab', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'mumbai', 'mumbai', 'hyderabad', 'hyderabad',
       'hyderabad', 'bangalore', 'mumbai', 'mumbai', 'delhi', 'hyderabad',
       'bangalore', 'mumbai', 'mumbai', 'mumbai', 'bangalore',
       'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'hyderabad', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'delhi', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'hyderabad',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'delhi', 'hyderabad',
       'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'punjab', 'mumbai',
       'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'bangalore', 'mumbai', 'mumbai', 'hyderabad', 'delhi', 'punjab',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'delhi', 'hyderabad',
       'bangalore', 'delhi', 'mumbai', 'delhi', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'hyderabad', 'mumbai', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'mumbai', 'mumbai', 'mumbai', 'bangalore',
       'mumbai', 'mumbai', 'hyderabad', 'bangalore', 'hyderabad',
       'mumbai', 'hyderabad', 'delhi', 'delhi', 'mumbai', 'mumbai',
       'mumbai', 'mumbai', 'delhi', 'bangalore', 'hyderabad', 'mumbai',
       'mumbai', 'hyderabad', 'bangalore', 'hyderabad', 'mumbai', 'delhi',
       'hyderabad', 'hyderabad', 'mumbai', 'mumbai', 'bangalore',
       'mumbai', 'mumbai', 'mumbai', 'delhi', 'mumbai', 'hyderabad',
       'punjab', 'delhi', 'delhi', 'mumbai', 'hyderabad', 'mumbai',
       'delhi', 'mumbai', 'hyderabad', 'mumbai', 'bangalore', 'mumbai',
       'hyderabad', 'hyderabad', 'mumbai', 'hyderabad', 'mumbai',
       'mumbai', 'hyderabad', 'hyderabad', 'delhi', 'mumbai', 'mumbai',
       'bangalore', 'mumbai'], dtype='<U9')

In [ ]:
population_of_spec_city = stats.poisson.rvs(loc=18,  mu=30,  size= 1000)
# stats.poisson.rvs method is used to generate random numbers, where loc is to define mean, mu is used to specify shape 
#paramters and as for the size, it defines the number of values

population_of_spec_city

array([58, 58, 45, 47, 50, 42, 39, 48, 49, 41, 42, 47, 52, 47, 45, 48, 44,
       51, 38, 48, 50, 47, 51, 39, 45, 52, 45, 55, 49, 56, 48, 54, 44, 52,
       51, 49, 50, 36, 44, 55, 43, 49, 60, 49, 47, 48, 45, 44, 44, 35, 48,
       54, 49, 42, 50, 47, 55, 50, 48, 46, 49, 43, 44, 47, 48, 54, 46, 49,
       43, 52, 40, 49, 58, 51, 44, 42, 47, 50, 45, 59, 43, 46, 55, 52, 44,
       46, 54, 54, 52, 46, 48, 49, 39, 54, 51, 42, 48, 57, 52, 49, 47, 55,
       59, 36, 45, 50, 48, 51, 44, 42, 46, 47, 56, 47, 47, 53, 38, 40, 47,
       47, 49, 41, 52, 50, 39, 55, 36, 45, 55, 43, 40, 52, 46, 53, 52, 44,
       55, 52, 54, 46, 42, 50, 42, 52, 44, 37, 44, 45, 43, 48, 50, 57, 47,
       47, 38, 50, 50, 52, 53, 57, 48, 39, 46, 57, 45, 43, 42, 58, 38, 54,
       48, 52, 44, 52, 59, 40, 63, 37, 40, 48, 50, 64, 43, 52, 44, 40, 42,
       52, 49, 57, 53, 52, 54, 51, 53, 48, 46, 49, 43, 50, 43, 66, 57, 53,
       50, 51, 49, 46, 48, 54, 55, 49, 49, 52, 40, 41, 50, 46, 40, 47, 52,
       46, 53, 51, 60, 38, 42, 44, 54, 61, 51, 53, 52, 46, 50, 56, 44, 52,
       54, 55, 51, 40, 44, 54, 53, 40, 45, 55, 37, 44, 55, 53, 44, 50, 54,
       48, 50, 47, 45, 53, 46, 45, 58, 41, 51, 48, 64, 43, 51, 55, 42, 31,
       44, 47, 40, 36, 42, 53, 41, 45, 52, 40, 62, 47, 51, 56, 51, 51, 38,
       52, 47, 45, 42, 37, 49, 43, 49, 40, 40, 46, 54, 47, 48, 42, 40, 42,
       57, 50, 52, 42, 51, 49, 41, 44, 52, 46, 48, 40, 47, 51, 44, 39, 46,
       48, 49, 49, 45, 52, 53, 57, 41, 42, 54, 42, 50, 41, 40, 47, 50, 48,
       49, 56, 57, 47, 50, 52, 46, 39, 37, 40, 48, 41, 44, 53, 44, 46, 39,
       46, 42, 46, 52, 53, 39, 49, 58, 39, 46, 42, 46, 39, 43, 52, 54, 50,
       47, 48, 44, 48, 41, 56, 39, 42, 53, 50, 52, 51, 55, 49, 57, 47, 45,
       45, 48, 45, 49, 55, 47, 52, 45, 46, 49, 46, 54, 46, 63, 52, 47, 47,
       49, 48, 50, 50, 44, 41, 46, 36, 43, 55, 46, 46, 42, 52, 51, 57, 35,
       47, 52, 45, 51, 48, 53, 46, 41, 48, 42, 44, 48, 46, 51, 52, 55, 44,
       42, 47, 52, 40, 51, 37, 45, 51, 41, 47, 45, 39, 44, 50, 52, 52, 46,
       38, 49, 44, 52, 40, 41, 49, 49, 54, 43, 49, 41, 45, 55, 43, 50, 56,
       51, 51, 48, 50, 54, 43, 47, 54, 55, 48, 44, 45, 43, 45, 47, 52, 47,
       53, 41, 38, 43, 42, 46, 47, 47, 52, 51, 42, 48, 42, 50, 49, 47, 43,
       51, 36, 50, 50, 43, 49, 53, 52, 44, 43, 45, 46, 45, 49, 44, 49, 57,
       53, 50, 45, 42, 43, 44, 43, 46, 45, 58, 66, 57, 50, 49, 52, 56, 45,
       43, 54, 48, 51, 45, 56, 47, 57, 52, 58, 46, 46, 45, 40, 42, 48, 48,
       42, 48, 55, 46, 51, 42, 52, 46, 47, 49, 46, 44, 49, 52, 37, 53, 42,
       45, 54, 48, 35, 52, 43, 47, 52, 41, 49, 47, 46, 48, 48, 51, 40, 51,
       49, 49, 47, 41, 34, 48, 58, 47, 60, 43, 49, 44, 53, 44, 54, 53, 39,
       57, 53, 44, 50, 38, 42, 42, 45, 47, 51, 37, 49, 51, 44, 48, 46, 50,
       44, 47, 48, 43, 61, 53, 46, 52, 47, 42, 59, 37, 59, 39, 49, 47, 57,
       51, 51, 53, 51, 54, 44, 47, 50, 54, 41, 59, 52, 47, 50, 47, 40, 44,
       43, 49, 41, 55, 46, 46, 47, 46, 49, 39, 46, 43, 48, 56, 56, 47, 47,
       44, 51, 42, 47, 47, 41, 46, 54, 44, 54, 44, 45, 50, 52, 47, 44, 62,
       44, 49, 47, 45, 50, 50, 46, 46, 46, 49, 42, 50, 48, 47, 51, 49, 47,
       56, 56, 52, 53, 47, 58, 56, 48, 50, 48, 45, 48, 41, 36, 48, 48, 46,
       52, 44, 44, 56, 53, 48, 47, 41, 49, 50, 45, 54, 38, 50, 46, 48, 52,
       42, 52, 43, 55, 39, 46, 48, 51, 54, 42, 47, 49, 46, 43, 49, 56, 38,
       40, 52, 53, 48, 45, 50, 40, 47, 46, 55, 45, 46, 41, 53, 37, 42, 40,
       40, 55, 49, 48, 50, 34, 47, 41, 51, 48, 41, 46, 46, 40, 50, 49, 52,
       44, 47, 49, 42, 53, 48, 51, 41, 51, 47, 42, 57, 48, 53, 58, 45, 46,
       50, 48, 44, 37, 44, 54, 53, 46, 47, 49, 46, 46, 37, 45, 57, 44, 44,
       53, 47, 40, 43, 49, 41, 44, 44, 48, 48, 51, 48, 52, 54, 55, 41, 54,
       48, 46, 39, 39, 40, 56, 48, 48, 51, 45, 51, 51, 62, 42, 39, 59, 54,
       46, 55, 48, 48, 40, 48, 48, 44, 44, 46, 48, 39, 56, 46, 42, 43, 51,
       54, 52, 38, 59, 51, 51, 44, 50, 51, 48, 52, 41, 42, 46, 45, 43, 45,
       46, 48, 49, 51, 51, 51, 49, 52, 51, 49, 48, 38, 54, 52, 37, 42, 51,
       50, 53, 60, 56, 57, 51, 54, 48, 56, 44, 50, 53, 51, 52, 47, 41, 38,
       47, 51, 50, 41, 50, 47, 51, 47, 45, 41, 48, 45, 51, 60, 43, 38, 49,
       48, 49, 50, 48, 49, 41, 49, 48, 47, 53, 42, 58, 51, 54, 51, 51, 37,
       43, 51, 44, 51, 46, 50, 53, 48, 42, 45, 43, 45, 40, 53, 56, 48, 47,
       38, 45, 56, 48, 43, 34, 47, 50, 48, 52, 53, 51, 54, 42])

In [ ]:
# Forming the Dataframe from the obatined values
population_frame = pd.DataFrame({"city":people_of_spec_city,"population":population_of_spec_city})

# Dividing these values by the categorical variables into groups
groups = population_frame.groupby("city").groups

groups

{'bangalore': [0, 23, 39, 50, 51, 76, 88, 90, 118, 124, 171, 178, 189, 211, 222, 224, 264, 302, 307, 319, 366, 378, 434, 449, 494, 497, 507, 510, 566, 568, 609, 611, 621, 628, 645, 681, 747, 770, 784, 796, 808, 809, 853, 858, 862, 899, 923, 940, 944, 955, 960, 968, 985, 998], 'delhi': [3, 11, 16, 25, 33, 35, 36, 58, 64, 87, 97, 108, 110, 111, 115, 119, 133, 136, 137, 141, 151, 153, 162, 167, 174, 181, 183, 186, 200, 220, 238, 253, 256, 269, 277, 285, 292, 306, 308, 311, 313, 314, 318, 340, 350, 356, 372, 374, 398, 401, 409, 412, 413, 420, 432, 436, 437, 441, 445, 451, 453, 460, 471, 477, 489, 498, 500, 503, 522, 524, 527, 531, 536, 540, 558, 573, 589, 591, 597, 598, 601, 607, 612, 616, 626, 632, 642, 646, 654, 668, 677, 684, 685, 687, 688, 694, 697, 708, 718, 723, ...], 'hyderabad': [1, 2, 4, 15, 22, 27, 28, 29, 31, 32, 37, 42, 46, 48, 52, 55, 57, 61, 67, 69, 74, 75, 81, 85, 94, 101, 102, 109, 112, 121, 126, 128, 130, 132, 140, 144, 149, 150, 152, 154, 156, 160, 161, 163, 164, 166, 170, 179, 185, 188, 194, 197, 207, 213, 214, 216, 221, 223, 227, 232, 237, 243, 245, 246, 248, 249, 250, 254, 255, 257, 258, 260, 263, 266, 267, 268, 279, 280, 283, 284, 290, 295, 297, 303, 304, 305, 315, 325, 328, 330, 335, 336, 338, 339, 341, 359, 384, 386, 387, 388, ...], 'mumbai': [5, 6, 7, 8, 9, 10, 12, 13, 14, 17, 18, 19, 20, 24, 26, 30, 34, 38, 40, 41, 43, 44, 45, 47, 49, 53, 54, 56, 59, 60, 62, 63, 66, 68, 70, 71, 72, 73, 77, 78, 79, 80, 82, 83, 84, 86, 89, 92, 93, 95, 96, 98, 99, 100, 103, 104, 105, 106, 107, 113, 114, 116, 117, 120, 122, 123, 125, 131, 134, 138, 139, 142, 143, 145, 148, 155, 158, 159, 165, 168, 169, 172, 173, 176, 177, 180, 182, 184, 187, 190, 191, 192, 193, 195, 196, 198, 199, 201, 202, 203, ...], 'punjab': [21, 65, 91, 127, 129, 135, 146, 147, 157, 175, 206, 230, 235, 270, 271, 281, 320, 353, 363, 394, 407, 443, 464, 482, 493, 521, 561, 600, 606, 629, 652, 667, 679, 724, 752, 761, 773, 775, 777, 798, 801, 816, 843, 891, 904, 975]}

In [ ]:
asian = population_of_spec_city [groups["punjab"]]
black = population_of_spec_city[groups["bangalore"]]
hispanic = population_of_spec_city[groups["delhi"]]
other = population_of_spec_city[groups["hyderabad"]]
white = population_of_spec_city[groups["mumbai"]]

In [ ]:
stats.f_oneway(asian, black, hispanic, other, white)

F_onewayResult(statistic=1.1702346131741366, pvalue=0.3223375721204956)

**Correlation coefficients**

In [ ]:
from google.colab import drive
drive.mount('/content/drive/MyDrive/Applied Data Science/Experiment2/happyscore_income.csv')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Applied Data Science/Experiment2/happyscore_income.csv',index_col=0)
df.head()

,adjusted_satisfaction,avg_satisfaction,std_satisfaction,avg_income,median_income,income_inequality,region,happyScore,GDP,country.1
country,,,,,,,,,,
Armenia,37.0,4.9,2.42,2096.76,1731.506667,31.445556,'Central and Eastern Europe',4.350,0.76821,Armenia
Angola,26.0,4.3,3.19,1448.88,1044.240000,42.720000,'Sub-Saharan Africa',4.033,0.75778,Angola
Argentina,60.0,7.1,1.91,7101.12,5109.400000,45.475556,'Latin America and Caribbean',6.574,1.05351,Argentina
Austria,59.0,7.2,2.11,19457.04,16879.620000,30.296250,'Western Europe',7.200,1.33723,Austria
Australia,65.0,7.6,1.80,19917.00,15846.060000,35.285000,'Australia and New Zealand',7.284,1.33358,Australia

In [ ]:
df.corr(method='pearson')

,adjusted_satisfaction,avg_satisfaction,std_satisfaction,avg_income,median_income,income_inequality,happyScore,GDP
adjusted_satisfaction,1.000000,0.978067,-0.527553,0.728006,0.704383,-0.123835,0.901213,0.755578
avg_satisfaction,0.978067,1.000000,-0.341201,0.689043,0.661883,-0.082471,0.885988,0.776679
std_satisfaction,-0.527553,-0.341201,1.000000,-0.478206,-0.481429,0.221831,-0.457896,-0.242038
avg_income,0.728006,0.689043,-0.478206,1.000000,0.995605,-0.382587,0.782122,0.814024
median_income,0.704383,0.661883,-0.481429,0.995605,1.000000,-0.449053,0.760328,0.797905
income_inequality,-0.123835,-0.082471,0.221831,-0.382587,-0.449053,1.000000,-0.187222,-0.303204
happyScore,0.901213,0.885988,-0.457896,0.782122,0.760328,-0.187222,1.000000,0.790061
GDP,0.755578,0.776679,-0.242038,0.814024,0.797905,-0.303204,0.790061,1.000000

In [ ]:
df.corr(method='spearman')

,adjusted_satisfaction,avg_satisfaction,std_satisfaction,avg_income,median_income,income_inequality,happyScore,GDP
adjusted_satisfaction,1.000000,0.981629,-0.497192,0.803010,0.779671,-0.168049,0.900697,0.766098
avg_satisfaction,0.981629,1.000000,-0.354810,0.808310,0.782479,-0.137139,0.893395,0.773521
std_satisfaction,-0.497192,-0.354810,1.000000,-0.317653,-0.309697,0.182610,-0.421175,-0.275832
avg_income,0.803010,0.808310,-0.317653,1.000000,0.990839,-0.356069,0.819542,0.960969
median_income,0.779671,0.782479,-0.309697,0.990839,1.000000,-0.448926,0.806704,0.961583
income_inequality,-0.168049,-0.137139,0.182610,-0.356069,-0.448926,1.000000,-0.242107,-0.409767
happyScore,0.900697,0.893395,-0.421175,0.819542,0.806704,-0.242107,1.000000,0.793673
GDP,0.766098,0.773521,-0.275832,0.960969,0.961583,-0.409767,0.793673,1.000000

In [ ]:
df.corr(method='kendall')

,adjusted_satisfaction,avg_satisfaction,std_satisfaction,avg_income,median_income,income_inequality,happyScore,GDP
adjusted_satisfaction,1.000000,0.905145,-0.378239,0.614896,0.593379,-0.124810,0.741682,0.581131
avg_satisfaction,0.905145,1.000000,-0.266347,0.618270,0.593810,-0.104128,0.732966,0.591166
std_satisfaction,-0.378239,-0.266347,1.000000,-0.237797,-0.233515,0.124672,-0.320795,-0.205190
avg_income,0.614896,0.618270,-0.237797,1.000000,0.929566,-0.229994,0.622277,0.841441
median_income,0.593379,0.593810,-0.233515,0.929566,1.000000,-0.299779,0.614087,0.847011
income_inequality,-0.124810,-0.104128,0.124672,-0.229994,-0.299779,1.000000,-0.166762,-0.264067
happyScore,0.741682,0.732966,-0.320795,0.622277,0.614087,-0.166762,1.000000,0.601310
GDP,0.581131,0.591166,-0.205190,0.841441,0.847011,-0.264067,0.601310,1.000000

In [ ]:
from scipy.stats import chisquare

**With f_obs values**

In [ ]:
f_obs=[16, 12, 16, 18, 14, 12]
chisq=chisquare(f_obs).statistic
pvalue=chisquare(f_obs).pvalue
print("chisquare statistic :",chisq)
print("p_value :",pvalue)

chisquare statistic : 2.0
p_value : 0.8491450360846096

**With f_exp and f_obs values**

In [ ]:
f_obs=[16, 12, 16, 18, 14, 12]
f_exp=[16, 8, 16, 16, 16, 16]
chisquare(f_obs,f_exp)

Power_divergenceResult(statistic=3.5, pvalue=0.6233876277495822)

**With f_obs as 2d**

In [ ]:
f_obs=[[16, 12, 16, 18, 14, 12],[24, 12, 32, 16, 32, 12]] # The test is automatically applied to each column
chisquare(f_obs)

Power_divergenceResult(statistic=array([1.6       , 0.        , 5.33333333, 0.11764706, 7.04347826,
       0.        ]), pvalue=array([0.20590321, 1.        , 0.02092134, 0.73160059, 0.00795544,
       1.        ]))

**With axis as None**

In [ ]:
f_obs=[[16, 12, 16, 18, 14, 12],[24, 12, 32, 16, 32, 12]] # The test is applied to the whole data
chisquare(f_obs, axis=None)

Power_divergenceResult(statistic=33.33333333333333, pvalue=0.0004645423926184954)

***With axis as 1***

In [ ]:
f_obs=[16, 12, 16, 18, 14, 12]
f_exp=[[16, 12, 16, 18, 14, 12],[16, 8, 16, 16, 16, 16]]
chisquare(f_obs,f_exp,axis=1)

Power_divergenceResult(statistic=array([0. , 3.5]), pvalue=array([1.        , 0.62338763]))

**With ddof specified**

In [ ]:
f_obs=[16, 12, 16, 18, 14, 12]
chisquare(f_obs, ddof=1)

Power_divergenceResult(statistic=2.0, pvalue=0.7357588823428847)

In [ ]:
chisquare(f_obs,ddof=[0,1])

Power_divergenceResult(statistic=2.0, pvalue=array([0.84914504, 0.73575888]))

In [ ]:
chisquare(f_obs,ddof=[0,1,2])

Power_divergenceResult(statistic=2.0, pvalue=array([0.84914504, 0.73575888, 0.5724067 ]))